
<!DOCTYPE html>
<html lang="zxx">
<head>
<meta charset="UTF-8">
<meta name="description" content="Manup Template">
<meta name="keywords" content="Manup, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Manup | Template</title>

<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="public/launch/assets/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="public/launch/assets/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="public/launch/assets/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="public/launch/assets/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="public/launch/assets/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="public/launch/assets/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="public/launch/assets/css/style.css" type="text/css">
</head>
<body>

<div id="preloder">
<div class="loader"></div>
</div>

<header class="header-section">
<div class="container">
<div class="logo">
<a href="./index.html">
<img src="public/launch/assets/img/MyOnlineShiksha-logo.svg" alt="">
</a>
</div>
<div class="nav-menu">
<a href="javascript:void(0)" class="contact primary-btn top-btn"><i class="fa fa-ticket"></i> Join Now</a>
</div>
<div id="mobile-menu-wrap"></div>
</div>
 </header>


<section class="hero-section set-bg" data-setbg="public/launch/assets/img/hero.jpg">
<div class="container">
<div class="row">
<div class="col-lg-7">
<div class="hero-text">
<h2>JOIN OUR <br> DIGITAL MARKETING</h2>
<span>COURSE LAUNCHING CEREMONY</span>
<p>a suprisingly informal and slightly unexpected launch event</p>
<a href="javascript:void(0)" class="contact primary-btn">Join Now</a>
</div>
</div>
<div class="col-lg-5">
<img src="public/launch/assets/img/hero-right.png" alt="">
</div>
</div>
</div>
</section>


<section class="counter-section bg-gradient">
<div class="container">
<div class="row">
<div class="col-lg-4">
<div class="counter-text">
<span>Event Date and Time</span>
<h3>24th Dec 2020<br>12:00 AM</h3>

</div>
</div>
<div class="col-lg-8">
<div class="cd-timer" id="countdown">
<div class="cd-item">
<span class="days"></span>
<p>Days</p>
</div>
<div class="cd-item">
<span class="hours"></span>
<p>Hours</p>
</div>
<div class="cd-item">
<span class="minutes"></span>
<p>Minutes</p>
</div>
<div class="cd-item">
<span class="seconds"></span>
<p>Seconds</p>
</div>
</div>
</div>
</div>

<a href="javascript:void(0)" class="contact primary-btn">Join Now</a>
</div>
</section>


<section class="home-about-section spad">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="ha-pic">
<img src="public/launch/assets/img/bg_video_h1.jpg" alt="">
</div>
</div>
<div class="col-lg-6">
<div class="ha-text">
<h2>About The Event</h2>
<p>This event is to introduce the online course "Fundamentals of Digital Marketing" authored by Shri Shahezad Bodila. The course deals with all the aspects of Digital Marketing as per the current trends, whether it’s Social Media Management, Search Engine Optimization or Paid Advertisement.</p>
<p>At a time of exponential changes in digital technology, speed and distraction – leading to dramatic changes in society – the Digital Marketing Course offers profound guidance to you, your team and your business. With this will help shift your perspective on the future and prepare you for the big digital challenges ahead.</p>
<p>If you wish to know about this course, join the launching on 24th Dec 2020 by clicking the link below</p>
<a href="javascript:void(0)" class="contact primary-btn">Join Now</a>
</div>
</div>
</div>
</div>
</section>


<section class="team-member-section">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="section-title">
<h2>Who’s speaking</h2>
<p>These are our communicators, you can see each person information</p>
</div>
</div>
</div>
</div>
<div class="member-item set-bg">
<img src="public/launch/assets/img/Shahezad-Bodila.jpg">
<div class="mi-text">
<h5>Shahezad Bodila</h5>
<span>Digital Marketing Expert</span>
</div>
</div>
<div class="member-item set-bg">
<img src="public/launch/assets/img/Dr.K.N.Chavda.jpg">
<div class="mi-text">
 <h5>Dr.K.N.Chavda.jpg</h5>
<span>Principal of J.Z. Shah Arts and H.P. Desai Commerce College, Surat. Inaugurator</span>
</div>
</div>
<div class="member-item set-bg">
<img src="public/launch/assets/img/DR.Arti-Joshi.jpg">
<div class="mi-text">
<h5>Dr.Arti Joshi</h5>
<span>Director R.K. University, Rajkot. (Guest)</span>
</div>
</div>
<div class="member-item set-bg">
<img src="public/launch/assets/img/Dr.Jay-Badiyani.jpg">

<div class="mi-text">
<h5>Dr.Jay Badiyani</h5>
<span>Associate professor, Department of Business adminstration, M.K.Bhavnagar University, Bhavnagar.
Guest</span>
</div>
</div>

</section>
<footer class="footer-section">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="footer-text">
<div class="ft-logo">
<a href="#" class="footer-logo"><img src="public/launch/assets/img/MyOnlineShiksha-logo.svg" alt=""></a>
</div>
<div class="copyright-text"><p>
© MyOnlineShiksha™. All Rights Reserved. Powered by CreateOnlineAcademy™
</p></div>
</div>
</div>
</div>
</div>
</footer>
<div class="cd-popup contact" role="alert">
  <form name="contactform" id="contactform" class="contact-form">
  	<a href="" class="cd-popup-close cd-close-button">
          <i class="fa fa-times" style="pointer-events:none;"></i>
        </a>
    <div class="cd-popup-container" style="">
        

      <div class="field-group">
        <input type="text" id="name" name="name" placeholder="Name"/>
      </div>
      <div class="field-group">
        <input type="number" id="phone" name="phone" placeholder="Phone number"/>
      </div>
      <div class="field-group">
        <input type="text" id="email" name="email" placeholder="Email address"/>
      </div>
      <div class="submit">
        <input type="submit" name="submit" id="submit" value="Send" />
      </div>
    </div>
  </form>
</div>


<script src="public/launch/assets/js/jquery-3.3.1.min.js"></script>
<script src="public/launch/assets/js/bootstrap.min.js"></script>
<script src="public/launch/assets/js/jquery.magnific-popup.min.js"></script>
<script src="public/launch/assets/js/jquery.countdown.min.js"></script>
<script src="public/launch/assets/js/jquery.slicknav.js"></script>
<script src="public/launch/assets/js/owl.carousel.min.js"></script>
<script src="public/launch/assets/js/main.js"></script>
<script type="text/javascript">

function makeTimer() {

//  var endTime = new Date("29 April 2018 9:56:00 GMT+01:00");  
var endTime = new Date("24 December 2020 12:00:00");  
endTime = (Date.parse(endTime) / 1000);

var now = new Date();
now = (Date.parse(now) / 1000);

var timeLeft = endTime - now;

var days = Math.floor(timeLeft / 86400); 
var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600 )) / 60);
var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));
 
if (hours < "10") { hours = "0" + hours; }
if (minutes < "10") { minutes = "0" + minutes; }
if (seconds < "10") { seconds = "0" + seconds; }

$(".days").html(days);
$(".hours").html(hours);
$(".minutes").html(minutes);
$(".seconds").html(seconds);  

}

setInterval(function() { makeTimer(); }, 1000);
</script>

</html>